<!-- pages/templates/pages/home.html -->
{% extends "base.html" %}

{% block page_content %}
    <div class="container">
        <h1 class="mt-5 mb-4 text-center">Job Search Automation Portal</h1>

        <form action="" method="post" novalidate class="form-group">
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.platform.label_tag }}
                {{ form.platform }}
            </div>

            <div class="mb-3">
                {{ form.jobsearch.label_tag }}
                {{ form.jobsearch }}
            </div>

            <div class="mb-3">
                {{ form.location.label_tag }}
                {{ form.location }}
            </div>

            <div class="mb-3">
                {{ form.pages.label_tag }}
                {{ form.pages }}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock page_content %}
